<div class="col">
    <div class="card">
        <div class="card-header text-center">
            Prensa
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons2">
            <input type="radio" class="btn-check" name="options-outlined2" id="success-outlined2" autocomplete="off" >
            <label class="btn btn-outline-success" for="success-outlined2">On</label>
            
            <input type="radio" class="btn-check" name="options-outlined2" id="danger-outlined2" autocomplete="off" checked>  
            <label class="btn btn-outline-danger" for="danger-outlined2">Off</label>
        </div>
        <div class="card-body">
        </div>                      
    </div>
</div>
