
    <div class="card border-4 border-dark rounded">
        <div class="card-header text-center  bg-dark text-white rounded-0">
            Brazo
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons1">
            <input type="radio" class="btn-check" name="options-outlined1" id="success-outlined1" autocomplete="off" [checked]="estado == true" (click)="prenderBrazo()">
            <label class="btn btn-outline-success rounded-0" for="success-outlined1">On</label>
            
            <input type="radio" class="btn-check" name="options-outlined1" id="danger-outlined1" autocomplete="off" [checked]="estado == false" (click)="apagarBrazo()">
            <label class="btn btn-outline-danger rounded-0" for="danger-outlined1">Off</label>
        </div>
        <div class="card-body" [style]="ChequearEstado()">
            
                <!-- <label for="inputZip" class="form-label text-center">Bulto en Brazo</label> -->
                <h3 class="text-center" id="estado1" >LIBRE</h3>
                <!-- <input type="text" class="form-control text-center" id="inputZip" readonly value="{{estadoBrazo}}" type = "hidden"> -->
  
        </div>                      
    </div>

