
    <div class="card">
        <div class="card-header text-center">
            Brazo
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons1">
            <input type="radio" class="btn-check" name="options-outlined1" id="success-outlined1" autocomplete="off" >
            <label class="btn btn-outline-success" for="success-outlined1">On</label>
            
            <input type="radio" class="btn-check" name="options-outlined1" id="danger-outlined1" autocomplete="off" checked>
            <label class="btn btn-outline-danger" for="danger-outlined1">Off</label>
        </div>
        <div class="card-body">
        </div>                      
    </div>

